{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: url('{% static "images/background_login.jpg" %}') no-repeat center center fixed;
        background-size: cover;
    }
    .container {
        background: transparent;
    }
    .card {
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Login</h1>
                    <form action="{% url 'login' %}" method='POST'>
                        {% csrf_token %}
                        
                        {% if has_error %}
                            <div class="alert alert-danger" role="alert">
                                Invalid username or password!
                            </div>
                        {% endif %}
        
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" id="username" class='form-control'>
                        </div>
        
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" class='form-control'>
                        </div>
        
                        <button type="submit" class="btn btn-primary w-100">Login</button>

                        <div class="text-center mt-3">
                            Don't have an account? <a href="{% url 'sign_up' %}">Sign up now!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}