{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Profile Information</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Username:</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>First Name:</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Date Joined:</th>
                        <td>{{ user.date_joined|date:"d M Y" }}</td>
                    </tr>
                    <tr>
                        <th>Last Login:</th>
                        <td>{{ user.last_login|date:"d M Y H:i" }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit profile</a>
                <a class="btn btn-secondary" href="{% url 'change_password' %}">Change password</a>
            </div>
        </div>
    </div>

    <h3 class="mt-5">Your Posts</h3>
    {% if user_posts %}
        <div class="list-group">
        {% for post in user_posts %}
            <a href="{% url 'post_view' post.pk %}" class="list-group-item list-group-item-action">
                <strong>{{ post.title }}</strong>
                <p>{{ post.content|truncatewords:30 }}</p>
            </a>
        {% endfor %}
        </div>
    {% else %}
        <p>You have not written any posts yet.</p>
    {% endif %}
</div>
{% endblock %}