{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: url('{% static "images/background_signup.jpg" %}') no-repeat center center fixed;
        background-size: cover;
    }
    .container {
        background: transparent; /* Прозрачный фон */
    }
    .card {
        background: #fff; /* Белый фон */
        border-radius: 15px; /* Скругление углов */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень */
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Sign up</h1>
                    <form action="{% url 'sign_up' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}