{% extends 'base.html' %}

{% block content %}
<style>
    .content-container {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .card {
        display: flex;
        flex-direction: column;
        flex: 0 1 calc(33% - 20px); /* Каждая карточка занимает примерно одну треть строки, минус отступ */
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: transform 0.3s ease;
    }
    .card:hover {
        transform: translateY(-5px); /* Поднимает карточку при наведении */
    }
    .card-img {
        width: 200%;
        height: 200px; /* Фиксированная высота для изображений */
        object-fit: cover; /* Обеспечивает корректное отображение изображений разного размера */
        background-color: #eee; /* Фоновый цвет для плейсхолдера */
        filter: blur(4px);
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Распределение пространства между элементами */
        flex-grow: 1; /* Заполняет оставшееся пространство в карточке */
        padding: 15px;
    }
    .card-title {
        margin: 0;
        font-size: 20px;
        color: #333;
    }
    .card-text {
        font-size: 14px;
        color: #666;
        margin-top: 10px;
        flex-grow: 1; /* Растягивает текстовый блок, чтобы кнопка уходила вниз */
    }
    .card-author {
        font-size: 12px;
        color: #888;
        margin-bottom: 10px;
    }
    .read-more {
        display: block;
        width: 100%;
        text-align: center;
        padding: 8px 0;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 10px;
    }
    form {
        width: 100%;
        margin-bottom: 20px;
    }
</style>
<div class="content-container">
    <form action="{% url 'posts_list' %}" method="get">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="date" {% if sort_by == 'date' %}selected{% endif %}>Date</option>
            <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Title</option>
        </select>
    </form>
    {% for post in posts %}
    <div class="card">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="Image for {{ post.title }}" class="card-img">
        {% else %}
            <div class="card-img"></div> <!-- Плейсхолдер для отсутствующего изображения -->
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-author">by {{ post.author }}</p>
            <p class="card-text">{{ post.body|truncatewords:30 }}</p>
            <a href="{% url 'post_view' post.pk %}" class="read-more">Read More</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
