{% extends 'base.html' %}

{% block content %}
    <h1>Edit post</h1>
    
    <form action="{% url 'post_update' post.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w-50">
            {% for error in non_field_errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}
            
            {% for field in form %}
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            {% if post.image %}
                <div>
                    <img src="{{ post.image.url }}" alt="Current image" style="max-width: 200px; max-height: 200px;">
                    <label>
                        <input type="checkbox" name="delete_image"> Delete this image
                    </label>
                </div>
            {% endif %}

            <input type="submit" class="btn btn-primary mt-3" value="Edit & save">
        </div>
    </form>
{% endblock %}