{% extends 'base.html' %}

{% block content %}
<style>
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        width: 80%; /* Фиксированная ширина для устойчивости разметки */
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #ccc;
    }
    .content {
        display: flex;
        width: 100%;
        padding: 20px;
    }
    .post-image {
        width: 50%; /* Увеличена ширина для изображения */
        text-align: center;
    }
    .post-image img {
        width: 100%;
        max-width: 100%; /* Убрано ограничение по максимальной ширине */
        height: auto; /* Убрано ограничение по высоте для более крупного отображения */
        object-fit: contain; /* Сохранение пропорций изображения без обрезки */
    }
    .post-details {
        width: 50%; /* Скорректированная ширина для текстовой части */
        padding-left: 20px;
    }
    .card-title {
        font-size: 24px;
        color: #333;
    }
    .gray_font {
        color: #666;
        font-size: 14px;
    }
    .card-text {
        margin-top: 10px;
        font-size: 16px;
        color: #666;
    }
    .actions {
        width: 100%;
        padding: 20px;
        text-align: right;
    }
    .btn {
        margin-right: 10px;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>
<div class="card">
    <div class="content">
        {% if post.image %}
        <div class="post-image">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </div>
        {% endif %}
        <div class="post-details">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="gray_font">by {{ post.author.username }}</p>
            <p class="card-text">{{ post.body }}</p>
        </div>
    </div>
    <div class="actions">
        {% if request.user == post.author %}
        <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Edit post</a>
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete post</a>
        {% endif %}
        {% if post.image %}
        <a href="{{ post.image.url }}" download class="btn btn-success">Download Image</a>
        {% endif %}
    </div>
</div>
{% endblock %}
