{% extends 'base.html' %}

{% block content %}
    <h1>Write post</h1>

    <!-- Добавлен атрибут enctype для корректной работы с файлами -->
    <form action="{% url 'post_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="w-50">
            {% for error in non_field_errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}

            {% for field in form %}
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            <input type="submit" class="btn btn-primary mt-3" value="Create post">
        </div>
    </form>
{% endblock %}
