{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="mb-4">NDWI Result</h1>
                    <p class="text-center">Below is the image showing the Normalized Difference Water Index calculated from the satellite images you provided.</p>
                    <img src="{% static 'images/' %}{{ image_name }}?t={{ timestamp }}" alt="NDWI image" class="img-fluid">
                    <div class="d-grid gap-2 mt-3">
                        <a href="{% url 'download_ndwi' %}" class="btn btn-primary btn-lg">Download NDWI Image</a>
                        <a href="{% url 'download_ndwi_excel' %}" class="btn btn-success btn-lg">Download NDWI Excel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
