<!-- В вашем base.html -->
<style>
    html, body {
        height: 100%; /* Обеспечивает полную высоту страницы */
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; /* Элементы упорядочиваются вертикально */
    }
    .content {
        flex: 1; /* Занимает доступное пространство */
        padding: 20px;
    }
    .footer {
        width: 100%; /* Занимает всю ширину страницы */
        background-color: #212121; /* Темный фон для футера */
        color: #ffffff; /* Белый цвет текста */
        padding: 20px 0; /* Отступы сверху и снизу */
        text-align: center; /* Выравнивание текста по центру */
    }
    .footer a {
        color: #007bff; /* Синий цвет для ссылок */
        text-decoration: none; /* Убрать подчеркивание у ссылок */
    }
    .footer a:hover {
        text-decoration: underline; /* Подчеркивание при наведении */
    }
    .footer i {
        margin-right: 10px; /* Отступ справа от иконки */
    }
</style>
</head>
<body>
    <div class="content">
        {% block content %}
        <!-- Содержимое страницы -->
        {% endblock %}
    </div>

    <div class="footer">
        <p><i class="fas fa-phone"></i>+7 777 123 4567</p>
        <p><i class="fas fa-envelope"></i><a href="mailto:info@example.com">zzdetc@gmail.com</a></p>
        <p><i class="fab fa-telegram-plane"></i><a href="https://t.me/YourTelegram" target="_blank">@YourTelegram</a></p>
    </div>
</body>
</html>
