<style>
  nav.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .navbar-right {
    display: flex;
    gap: 10px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1; /* Позволяет занимать доступное пространство */
  }
  
  .centered-links {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Позволяет этому блоку занимать доступное пространство после Home */
    margin-left: auto; /* Смещает элементы вправо от Home */
  }
  
  .btn {
    border-radius: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <div class="navbar-left">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <div class="centered-links">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Calculations
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'calculate_ndmi' %}">Calculate NDMI</a></li>
                <li><a class="dropdown-item" href="{% url 'calculate_ndvi' %}">Calculate NDVI</a></li>
                <li><a class="dropdown-item" href="{% url 'calculate_ndwi' %}">Calculate NDWI</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'posts_list' %}">Community</a>
            </li>
          </div>
        </div>

        <div class="navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_create' %}">Write post</a>
          </li>
          {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="btn btn-success" href="{% url 'login' %}">Log in</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-danger" href="{% url 'logout' %}">Log out</a>
            </li>
          {% endif %}
        </div>
      </ul>
    </div>
  </div>
</nav>
