{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">NDMI Result</h1>
                    <p class="text-center">Below is the image showing the Normalized Difference Moisture Index calculated from the satellite images you provided.</p>
                    
                    {% with timestamp=now|date:"U" %}
                    <div class="text-center mb-3">
                        <img src="{% static 'images/' %}{{ image_name }}?t={{ timestamp }}" alt="NDMI image" class="img-fluid">
                    </div>
                    <div class="d-grid gap-2">
                        <a href="{% url 'download_ndmi' %}" class="btn btn-primary btn-lg">Download NDMI Image</a>
                        <a href="{% url 'download_ndmi_excel' %}" class="btn btn-success btn-lg">Download NDMI Excel</a>  <!-- Добавленная кнопка для скачивания Excel файла -->
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}