{% extends 'base.html' %}

{% block content %}
<style>
    .feature {
        padding: 40px;
        background-color: rgba(248, 249, 250, 0.0); /* Прозрачность на 0% для полной прозрачности */
        border: none;
        text-align: center;
    }
    .feature-text {
        text-align: justify; /* Выравнивание текста по ширине */
        text-justify: inter-word; /* Улучшает распределение пробелов для более ровного вида */
    }
    .feature-img {
        width: 100%; /* Полная ширина колонки */
        height: auto; /* Автоматическая высота для сохранения пропорций */
        margin-bottom: 20px; /* Отступ снизу для отделения от текста */
    }
</style>

<div class="container pt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="feature">
                <img src="path_to_ndmi_image.jpg" alt="NDMI Image" class="feature-img">
                <h2>Moisture assessment using NDMI</h2>
                <p class="feature-text">Our site enables you to perform NDMI calculations to determine soil moisture levels, providing crucial information for irrigation management and drought assessment. Like NDVI, NDMI utilizes light reflections but focuses on moisture content in plants and soil.</p>
                <a href="{% url 'calculate_ndmi' %}" class="btn btn-outline-success">Calculate NDMI</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-8">
            <div class="feature">
                <img src="path_to_ndvi_image.jpg" alt="NDVI Image" class="feature-img">
                <h2>Vegetation health assessment using NDVI</h2>
                <p class="feature-text">On our website, you can easily calculate NDVI, which will help you assess the density and health of vegetation cover in your territory. NDVI measures vegetation levels by analyzing the reflection of light in the infrared and visible ranges. It is an important tool for agronomists, environmentalists and anyone who works with land plots.</p>
                <a href="{% url 'calculate_ndvi' %}" class="btn btn-outline-success">Calculate NDVI</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="feature">
                <img src="path_to_ndwi_image.jpg" alt="NDWI Image" class="feature-img">
                <h2>Water content analysis using NDWI</h2>
                <p class="feature-text">NDWI is essential for monitoring water content in vegetation, which is critical for assessing plant health and planning irrigation. By measuring the light absorbed and reflected by water molecules, NDWI provides valuable insights into water stresses in plants.</p>
                <a href="{% url 'calculate_ndwi' %}" class="btn btn-outline-success">Calculate NDWI</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
